<div class="wrapper">
    <img src='{{flags.svg}}' alt='flag {{name.official}}' width='30' />
    <h2>{{name.official}}</h2>
</div>
<div>
    <p>Capital: <span>{{capital}}</span></p>
    <p>Population: <span>{{population}}</span></p>
    <p class='lang'>Languages: <span>
        {{#each languages}}
        {{#if @last}}
        {{this}}
        {{else}}
        {{this }},
        {{/if}}
        {{/each}}
        </span>
    </p>
